<h1 [innerText]="title+receivedEmployee.employeeName"></h1>
<hr>
<table class="table table-hover table-striped">
    <tr>
        <th>Employee Id</th>
        <td><span [innerText]="receivedEmployee.employeeId"></span></td>
    </tr>
    <tr>
        <th>Employee Name</th>
        <td><span [innerText]="receivedEmployee.employee"></span></td>
    </tr>
    <tr>
        <th>City</th>
        <td><span [innerText]="receivedEmployee.city"></span></td>
    </tr>
    <tr>
        <th>Contact #</th>
        <td><span [innerText]="receivedEmployee.phone"></span></td>
    </tr>
    <tr>
        <th>Email</th>
        <td><span [innerText]="receivedEmployee.email"></span></td>
    </tr>
    <tr>
        <th></th>
        <td>
            <img [src]="receivedEmployee.avatar" [alt]="receivedEmployee.employeeName" [style.width]="imageW" [style.height]="imageH">
        </td>
    </tr>
</table>
<hr>
<button class="btn btn-success" (click)="raiseEvent()">Send Confirmation to Parent!</button>

